/* style.css */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#eef2f7;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:700px;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,.2);
}

h1{
text-align:center;
margin-bottom:20px;
color:#0d6efd;
}

.student{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:20px;
}

input{
width:100%;
padding:10px;
font-size:16px;
}

table{
width:100%;
border-collapse:collapse;
}

table,th,td{
border:1px solid #000;
}

th{
background:#0d6efd;
color:white;
}

th,td{
padding:10px;
text-align:center;
}

button{
width:100%;
padding:12px;
margin-top:20px;
font-size:18px;
background:#0d6efd;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#084298;
}

.result{
margin-top:25px;
font-size:18px;
}

.result p{
margin:8px 0;
}